.header {
background-color: rgb(78, 117, 93);
text-align: center;
}

.main {
background-color: rgb(78, 117, 93);
width: 70%;
margin: 0px auto;
padding: 10px;
}

body {
background-image: url(cinebg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
min-height: 100vh;
}